// * colores

$headerFondo: #050f18;
$headerFondoClaro: #5755b5;
$fondoBotton: lighten($headerFondo,20%);
$cartaFondo: lighten($headerFondo,2%);
$cartaCuerpo: #525052;
// ! espaciado

$espacioHeader: 1.6rem;
$headerMargen: 2rem;
$BButton: 2rem;
$MButton:1.2rem;
$buttonP:.1rem;
$radio: .2rem;